.wheat  {
    font-weight: bold;
    font-family: Roboto, serif;
    font-size: 146px;
    position: absolute;
    left: 175px;
    top: 199px;
    color: #001F5F
}

.wheat_vodka {
    font-weight: bold;
    font-family: Roboto sans-serif;
    font-size: 146px;
    line-width: 40px;
    position: absolute;
    left: 265px;
    top: 348px;
    color: #000000;
    opacity: 0.2
}



.hask  {
    position: absolute;
    left: 150px;
    top: 491px

}
.circle_img{
    border-color: #002850;
    transition: border-color 0.5s ease-in 0.3s;
}
.circle_img:hover{
    border-color: red;
}
